body {
  background-color:#EEA6C5;
  font-family: Arial, Helvetica, sans-serif;
}

.title{
    width:500px;
    position:fixed;
    bottom:-50px;
    right: 280px;
}

.title2{
    width:500px;
    position:fixed;
    top:20px;
    right: -420px;
}

.findme{
            content: url(https://raw.githubusercontent.com/jingyi1118/interactive2/gh-pages/findme.png);
            position: relative;
            float: left;
            width: 250px;
            height: 180px;
            bottom: 25px;
            right: 53px;
  
}

.grid-container {
  width:30vw;
  height:30vh;
  display: grid;
    grid-template-columns: repeat(auto-fill, 120px);
    grid-template-rows: repeat(auto-fill, 120px);
  position: absolute;
  perspective:500px;
  left: 460px;
  top: 200px;
  
}

.grid-item {
      width: 120px;
    height: 120px;
  font-size: 30px;
  text-align: center;
}

.grid-item-inner {
  position: relative;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.grid-item:hover .grid-item-inner {
  transform: rotateY(180deg);
}

.grid-item-front, .grid-item-back {
  position: absolute;
    object-fit: cover;
  backface-visibility: hidden;
}

.grid-item-front {
  color: black;
}


.grid-item-back {
  width: 120px;
    height: 120px;
  background-color: #F59457;
  color: white;
  transform: rotateY(180deg);
}

.self1 {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.button {
   position: absolute;
   top: 540px;
   left: 20px;
   border: 20px;
   background: transparent;
   box-sizing: border-box;
   width: 5px;
   height: 10px;
   border-color: transparent transparent transparent #385686;
   transition: 100ms all ease;
   cursor: pointer;
   border-style: solid;
   border-width: 12px 0 12px 20px;
}
 .button.paused {
   border-style: double;
   border-width: 0px 0 0px 60px;
}
 .button:hover {
   border-color: transparent transparent transparent #385686;
}

