body {
  background-color:#F59457;
  font-family: Arial, Helvetica, sans-serif;
}

.popup {
  
  z-index: 100000;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}



/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.grid-container {
  width:90vw;
  height:85vh;
  display: grid;
    grid-template-columns: repeat(auto-fill, 140px);
    grid-template-rows: repeat(auto-fill, 175px);
  position: absolute;
  perspective:900px;
  left: 45px;
  top: 20px;
  padding: 20px;
}

.grid-item {
      width: 140px;
    height: 140px;
  font-size: 30px;
  text-align: center;
}

.grid-item-inner {
  position: relative;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.grid-item:hover .grid-item-inner {
  transform: rotateY(180deg);
}

.grid-item-front, .grid-item-back {
  position: absolute;
    object-fit: cover;
  backface-visibility: hidden;
}

.grid-item-front {
  color: black;
}


.findme{
            content: url(https://raw.githubusercontent.com/jingyi1118/interactive2/gh-pages/findme.png);
            position: relative;
            float: left;
            width: 170px;
            height: 125px;
            bottom: 165px;
            left: -6px;
  
}

.clickme{
            content: url(https://raw.githubusercontent.com/jingyi1118/interactive2/gh-pages/clickme.png);
            position: absolute;
            float: left;
            width: 190px;
            height: 125px;
            bottom: 22px;
            right: -48px;
  
}

.grid-item-back {
  font-family: 'Handlee', cursive;
  width: 140px;
    height: 160px;
  background-color: transparent;
  color: white;
  transform: rotateY(180deg);
}

.self1 {
    width: 140px;
    height: 160px;
    object-fit: cover;
}

.grid-item.fall {
  transform:rotate(90deg)translate(46px, -40px);
}

#infoItem {
  transition:transform 100ms ease;
}

#animation {
  display:none;
  width:600px;
  z-index: 100000;
  
  position: absolute;
  left: -170px;
  bottom: 250px;
  transform: rotate(-90deg);
}
.fall #animation {
  display:block;
}