body{
	background: white;
	margin-top:20px;
	margin-right:100px;
	position: relative;
	margin-left:500px;
}

#file{
	width:60px;
}
#equal{
	position: relative;
	width:36px;
	left:80px;
	bottom:58px;
}

h1{
	position: relative;
	top:28px;
	line-height: 40pt;
	font-size: 36pt;
	font-family: 'Special Elite', cursive;
}
h3{
	font-size: 18pt;
	font-family: 'Special Elite', cursive;
	position: absolute;
    left: 170px;
    top: 455px;
}
h4{
	font-family: Courier;
	font-style: normal;
    font-size:8pt;
    position:fixed;
    right: 900px;
    top:560px;
    width:200px;
}
h5{
	top:20px;
	line-height: 22pt;
	font-size: 14pt;
	font-family: 'Special Elite', cursive;
	width:500px ;
	position:relative;
    bottom:30px;
    left:60px;
}
h6{
	position:relative;
	font-size: 9pt;
	font-family: 'Special Elite', cursive;
	left:20px;
	bottom:50px;
}
canvas {
	height:500px;
	width:200px;
    bottom:100px;
	background-color: lightgray;
    position:fixed;
    right: 900px;
}

.square {
	width:50px;
	height: 50px;
	position: fixed;
	z-index: 2000;
	background: black;

}

#citation {
	color:gray;
    position:relative;
	font-size: 9pt;
	font-family: 'Special Elite', cursive;
	left:60px;
	top:50px;
	
}
